@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #080808;
}

img{
    width: 170px;
    margin-bottom: 20px;
    border-radius: 50%;

    box-shadow: 0px 0px 200px #ffffff23;
}

.login{
    width: 500px;
    height: 500px;
    border-radius: 30px;

    background-color: #222222;
}

/*Alinhar item ao centro*/

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login h1{
    text-align: center;
    font-size: 40px;
    color: #ffffff;
    margin-top: 40px;
}

.line{
    width: 150px;
    height: 2px;
    background-color: #ffffff;
    margin-bottom: 60px;
}

.login input[type="text"],input[type="password"]{
    width: 300px;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    border: none;

    outline: none;
}

.login input:focus-visible{
    outline: 2px solid #20a30f;
}

.login input[type="text"],input[type="password"]::placeholder{
    font-size: 18px;
}


.login input[type="button"]{
    width: 200px;
    padding: 18px;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 20px;
    border: none;

    font-size: 18px;
    font-weight: 800px;
    color: #ffffff;
    background-color: #20a30f;
    cursor: pointer;
    transition: .2s;
}

.login input[type="button"]:hover{
    background-color: #35c223;
    transform: scale(1.02);
}